@import "variables.css";

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
body {

    font-family: var(--font);
    background-color: black;
    color: white;
}
header{
  width: 100%;
  height: 5rem;
  position: relative;
}

.logo{
  
    text-transform: uppercase;
    color: #d3531a;
    line-height: 1.5;
    letter-spacing: 3px;
}

strong{
    color: white;
}

a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #d3531a;
    cursor: pointer;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
}
nav{
    display: none;
}

.show{
    display: flex;
    justify-content: center;
    width: 100%;
}
.content,li,ul{
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;

}
#nav-icon1{
    width: 60px;
    height: 45px;
    position: relative;
    margin: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  
  }
  
  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }


#_banner{
    background: url("https://source.unsplash.com/7OabDHeImsA/1920x1080") no-repeat fixed center center/cover;
height: 50vh;
}
p{
    color: chocolate;
}